<html>
  <head>
    <title>FixNix R&D Launch</title>   
    <script src="/javascript/jquery-1.9.1.js"></script>
    <script src="/javascript/jquery-ui.js"></script>  
    <script src="/javascript/turn.js"></script>
    <script src="/javascript/turn.min.js"></script> 
  <!--   <link rel="stylesheet" href="/stylesheet/style.css"/> -->
    <link rel="stylesheet" href="/stylesheet/jquery-ui.css"/>
    <script>
    $(document).ready(function(){
         $("#flipbook").turn({
      width: 1500,
       height: 450,
       autoCenter: true
         });         
        $("#flipbook").turn('display', 'double');
      });
    </script>
    <style>

    #flipbook .hard{
      background-color: #C5F6FA !important;
      /*background-image: "/images/bg.jpg"  width="450" height="450" !important;*/
    color:#333;
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
    font-weight:bold;;
    }

    #flipbook .page{
      background-color: "darkgray" !important;
    color:#333;
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;   
    };
   /* pre{
    	font-family: "calibri";
    }*/
    #flipbook{
    width:960px;
    height:600px;
    }
    </style>   
   </head>
   <body>
   	 <div id="flipbook">
           <div class="hard" depth="15"><br><br><br><br><br><br><br><br>
           	<center><font color="#FF00FF"><i><fontface="calibri">
                   FixNix R&D Launch at Vellore<br>
                   14 Nov'13</i></font><br><br><br>
                   <img src="/images/img/our  logo.png" width="150" height="60"></img>
           </div>       
           <div class="hard"><br><br>      
           </div>

           <div class="page"> 
                 <img src="/images/img/1.jpg" width="900" height="450"></img>
           </div>

           <div class="page">
                 <img src="/images/img/2.jpg" width="900" height="450"></img>
           </div>

           <div class="page">
                 <img src="/images/img/3.jpg" width="900" height="450"></img>
           </div>

           <div class="page">
                 <img src="/images/img/4.jpg" width="900" height="450"></img>
           </div>

           <div class="page">
           	     <img src="/images/img/5.jpg" width="900" height="450"></img>
            </div>
           <div class="page">
                <img src="/images/img/6.jpg" width="900" height="450"></img>
           </div>
              <img src="/images/img/7.jpg" width="900" height="450"></img>
           <div class="page">
               <img src="/images/img/8.jpg" width="900" height="450"></img>
            </div>
                <img src="/images/img/9.jpg" width="900" height="450"></img>
            <div class="page">
                 <img src="/images/img/10.jpg" width="900" height="450"></img>
            </div>
                <img src="/images/img/11.jpg" width="900" height="450"></img>
            <div class="page">
                 <img src="/images/img/12.JPG" width="900" height="450"></img>
            </div>
                <img src="/images/img/13.JPG" width="900" height="450"></img>
            <div class="page">
                <img src="/images/img/14.JPG" width="900" height="450"></img>
            </div>
            <div class="page">
              <img src="/images/img/15.JPG" width="900" height="450"></img>
             </div>
            <div class="page">
               <img src="/images/img/16.JPG" width="900" height="450"></img>
             </div>
             <div class="page">
                <img src="/images/img/17.JPG" width="900" height="450"></img>
             </div>
             <div class="page">
                <img src="/images/img/18.JPG" width="900" height="450"></img>
             </div>
            <div class="page">
               <img src="/images/img/20.JPG" width="900" height="450"></img>
             </div>
             <div class="page">
               <img src="/images/img/21.JPG" width="900" height="450"></img>
             </div>
             <div class="page">
               <img src="/images/img/22.JPG" width="900" height="450"></img>
             </div>
             <div class="page">
               <img src="/images/img/23.JPG" width="900" height="450"></img>
             </div>
             <div class="page">
               <img src="/images/img/24.JPG" width="900" height="450"></img>
             </div>
             <div class="page">
               <img src="/images/img/25.JPG" width="900" height="450"></img>
             </div>
             <div class="page">
               <img src="/images/img/26.JPG" width="900" height="450"></img>
             </div>
             <div class="page">
               <img src="/images/img/27.JPG" width="900" height="450"></img>
             </div>
             <div class="page">
               <img src="/images/img/28.JPG" width="900" height="450"></img>
             </div>
             <div class="page">
               <img src="/images/img/29.JPG" width="900" height="450"></img>
             </div>
             <div class="page">
               <img src="/images/img/30.JPG" width="900" height="450"></img>
             </div>
             <div class="page">
               <img src="/images/img/31.JPG" width="900" height="450"></img>
             </div>
             <div class="page">
               <img src="/images/img/32.JPG" width="900" height="450"></img>
             </div>
             <div class="page">
               <img src="/images/img/33.JPG" width="900" height="450"></img>
             </div>
             <div class="page">
               <img src="/images/img/34.JPG" width="900" height="450"></img>
             </div>
             <div class="page">
               <img src="/images/img/35.JPG" width="900" height="450"></img>
             </div>
             <div class="page">
               <img src="/images/img/36.JPG" width="900" height="450"></img>
             </div>
             <div class="page">
               <img src="/images/img/37.JPG" width="900" height="450"></img>
             </div>
             <div class="page">
               <img src="/images/img/38.JPG" width="900" height="450"></img>
             </div>
            
             <div class="page">
               <img src="/images/img/39.JPG" width="900" height="450"></img>
             </div>
             <div class="page">
               <img src="/images/img/40.JPG" width="900" height="450"></img>
             </div>
             <div class="page">
               <img src="/images/img/41.JPG" width="900" height="450"></img>
             </div>
             <div class="page">
               <img src="/images/img/42.JPG" width="900" height="450"></img>
             </div>
             <div class="page">
               <img src="/images/img/43.JPG" width="900" height="450"></img>
             </div>
             <div class="page">
               <img src="/images/img/44.JPG" width="900" height="450"></img>
             </div>
             <div class="page">
               <img src="/images/img/45.JPG" width="900" height="450"></img>
             </div>
             <div class="page">
               <img src="/images/img/46.JPG" width="900" height="450"></img>
             </div>
             <div class="page">
               <img src="/images/img/47.JPG" width="900" height="450"></img>
             </div>
             <div class="page">
               <img src="/images/img/48.JPG" width="900" height="450"></img>
             </div>
             <div class="page">
               <img src="/images/img/49.JPG" width="900" height="450"></img>
             </div>
             <div class="page">
               <img src="/images/img/50.JPG" width="900" height="450"></img>
             </div>
             <div class="hard"></div>
           </div>
           
   </body>
 </html>